# Entornos virtuales
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# dbt
transformation/target/
transformation/dbt_packages/
transformation/logs/

# Archivos de sistema y IDEs
.DS_Store
.vscode/
.idea/

# Secretos y Credenciales (¡MUY IMPORTANTE!)
/auth
*.key
.env