# Framework para Cloud Functions
functions-framework==3.9.2

# Librerías de Google Cloud
google-cloud-storage==2.16.0
google-cloud-secret-manager==2.19
google-api-python-client==2.178.0
google-auth-oauthlib==1.2.0

# Librería para procesar datos de Excel
pandas==2.2.2
openpyxl==3.1.2